system/diskspace
[{"id":"2efb590c.daa05e","type":"subflow","name":"Get disk space","info":"","in":[{"x":304,"y":129,"wires":[{"id":"2af8c950.ef930e"}]}],"out":[{"x":904,"y":89,"wires":[{"id":"1084cc94.e839cb","port":0}]}]},{"id":"2af8c950.ef930e","type":"exec","z":"2efb590c.daa05e","command":"df --output=pcent /home","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Get Disk space","x":464,"y":129,"wires":[["1084cc94.e839cb"],[],[]]},{"id":"1084cc94.e839cb","type":"function","z":"2efb590c.daa05e","name":"","func":"msg.payload = 100 - parseInt(msg.payload.split(\" \").slice(-1));\nreturn msg;","outputs":1,"noerr":0,"x":634,"y":109,"wires":[[]]},{"id":"9a181630.046e68","type":"subflow:2efb590c.daa05e","z":"7f50dd8b.3b4414","name":"","x":280,"y":320,"wires":[["2149c205.a72646"]]},{"id":"4f577992.c5784","type":"inject","z":"7f50dd8b.3b4414","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":110,"y":320,"wires":[["9a181630.046e68"]]},{"id":"def924ef.bc323","type":"ui_gauge","z":"7f50dd8b.3b4414","name":"","group":"750843fa.e4c60c","order":0,"width":0,"height":0,"gtype":"gage","title":"Free Space","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#3aca4d"],"x":690,"y":320,"wires":[]},{"id":"2149c205.a72646","type":"change","z":"7f50dd8b.3b4414","name":"","rules":[{"t":"set","p":"freediskspace","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["def924ef.bc323"]]},{"id":"750843fa.e4c60c","type":"ui_group","z":"","name":"Charts and Gauges","tab":"1c7c948e.b3a4d3","disp":true,"width":"6"},{"id":"1c7c948e.b3a4d3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]