camera/control
[{"id":"8082ed9b.477398","type":"ui_button","z":"2a08c93d.04fd66","name":"","group":"98a5f2eb.302e","order":5,"width":0,"height":0,"passthru":false,"label":"Start Capture","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":400,"wires":[["3fd18dc9.816482","db0b9134.ebd7a"]]},{"id":"c550370e.a32cf8","type":"ui_button","z":"2a08c93d.04fd66","name":"","group":"98a5f2eb.302e","order":6,"width":0,"height":0,"passthru":false,"label":"Stop Capture","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":440,"wires":[["ecfe24db.51eed"]]},{"id":"f0dff073.627398","type":"ui_button","z":"2a08c93d.04fd66","name":"","group":"cddfaf82.bc3608","order":2,"width":0,"height":0,"passthru":false,"label":"Make Video","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1130,"y":740,"wires":[["ff029401.4cfd3"]]},{"id":"11e68c11.979c6c","type":"ui_text","z":"2a08c93d.04fd66","group":"63362f38.192b2","order":0,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":400,"wires":[]},{"id":"7121c59e.3cf964","type":"change","z":"2a08c93d.04fd66","name":"Stopped Capturing","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stopped Capturing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":440,"wires":[["11e68c11.979c6c"]]},{"id":"e077b0d.eb8fa5","type":"change","z":"2a08c93d.04fd66","name":"Capturing","rules":[{"t":"set","p":"payload","pt":"msg","to":"Capturing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["11e68c11.979c6c"]]},{"id":"69799e12.b36ec8","type":"change","z":"2a08c93d.04fd66","name":"Video Created","rules":[{"t":"set","p":"payload","pt":"msg","to":"Video Created","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":620,"wires":[["11e68c11.979c6c"]]},{"id":"3fd18dc9.816482","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"set","p":"takepics","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["173b0efe.f4b371"]]},{"id":"ecfe24db.51eed","type":"change","z":"2a08c93d.04fd66","name":"unset global.takepics","rules":[{"t":"set","p":"takepics","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["7121c59e.3cf964","e467a84e.23d308"]]},{"id":"9c5f3d4c.b5f63","type":"comment","z":"2a08c93d.04fd66","name":"Control Timelapse","info":"This is the big flow.\n\nTwo buttons to start and stop the actual capture by setting and unsetting the global.takepics variable.\n\nA sub-flow to move the pictures out of the live folder into a history folder (based on timestamp in global.capturefolder).\n\nA final subflow that finds all history folders, populates a dropdown, then allows us to pick a folder and start processing the images into a video using ffmpeg. This is too slow, so I'll end up changing this to a mechanism allowing me to download zip files of images.","x":110,"y":340,"wires":[]},{"id":"db0b9134.ebd7a","type":"change","z":"2a08c93d.04fd66","name":"Disable makeVid button","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":480,"wires":[["f0dff073.627398"]]},{"id":"1aa0d7be.070588","type":"change","z":"2a08c93d.04fd66","name":"Enable makeVid button","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"videoFolderSelection","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":740,"wires":[["f0dff073.627398"]]},{"id":"2a8b4e36.021012","type":"link in","z":"2a08c93d.04fd66","name":"setState","links":["304a76fd.1b0052","c96e23c9.6677c8"],"x":1135,"y":360,"wires":[["11e68c11.979c6c"]]},{"id":"173b0efe.f4b371","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"set","p":"capturefolder","pt":"global","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":400,"wires":[["e077b0d.eb8fa5"]]},{"id":"918bae4c.6a9f58","type":"exec","z":"2a08c93d.04fd66","command":"ls -1d /home/pi/.node-red/static/raspicam/*/","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Get list of dirs","x":140,"y":760,"wires":[["681433b9.ec5e5c"],[],["e0e77288.2638f8"]]},{"id":"e0e77288.2638f8","type":"debug","z":"2a08c93d.04fd66","name":"","active":true,"console":"false","complete":"false","x":310,"y":780,"wires":[]},{"id":"681433b9.ec5e5c","type":"function","z":"2a08c93d.04fd66","name":"Format list of directories","func":"msg.payload = msg.payload.split(\"\\n\").slice(0,-1);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["1a22e558.294a03","851101d6.d999e8"]]},{"id":"6f21dd96.46cb34","type":"ui_dropdown","z":"2a08c93d.04fd66","name":"","label":"","place":"Select option","group":"cddfaf82.bc3608","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":740,"y":740,"wires":[["1aa0d7be.070588"]]},{"id":"6ebecd3e.ff353c","type":"exec","z":"2a08c93d.04fd66","command":"mkdir","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":670,"y":620,"wires":[["a642ea32.4f5d88"],[],[]]},{"id":"5cecd8b1.db825","type":"template","z":"2a08c93d.04fd66","name":"Set dest folder name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/.node-red/static/raspicam/{{global.capturefolder}}","x":300,"y":620,"wires":[["e5864c7f.5e8db"]]},{"id":"e5864c7f.5e8db","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"set","p":"destfolder","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[["6ebecd3e.ff353c"]]},{"id":"bbde869e.3bffc","type":"exec","z":"2a08c93d.04fd66","command":"mv /home/pi/.node-red/static/raspicam/capture/*.jpg","addpay":true,"append":"","useSpawn":"","timer":"","name":"Mv jpgs to dest folder","x":1060,"y":600,"wires":[["918bae4c.6a9f58"],[],[]]},{"id":"a642ea32.4f5d88","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"destfolder","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":600,"wires":[["bbde869e.3bffc"]]},{"id":"e467a84e.23d308","type":"delay","z":"2a08c93d.04fd66","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":620,"wires":[["5cecd8b1.db825"]]},{"id":"90c5ba7e.a4f7c","type":"comment","z":"2a08c93d.04fd66","name":"Move captured images","info":"Create a folder in /home/pi/.node-red/static/raspicam/{{global.capturefolder}} and move the jpgs from /home/pi/.node-red/static/raspicam/capture to it.","x":120,"y":580,"wires":[]},{"id":"f34ec6a9.2e3028","type":"comment","z":"2a08c93d.04fd66","name":"Populate dropdown for video processing","info":"","x":180,"y":700,"wires":[]},{"id":"ff029401.4cfd3","type":"template","z":"2a08c93d.04fd66","name":"FFMPEG command template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'{{{global.videoFolderSelection}}}*.jpg' -r 15 -c:v libx264 -crf 23 {{{global.videoFolderSelection}}}output.mkv","x":1350,"y":740,"wires":[["11e6750d.c9abc3"]]},{"id":"11e6750d.c9abc3","type":"exec","z":"2a08c93d.04fd66","command":"ffmpeg -f image2 -pattern_type glob -i ","addpay":true,"append":"","useSpawn":"","timer":"","name":"Make video","x":1570,"y":740,"wires":[["404adb96.2e55ac"],["c86fe6b7.00c138"],["1e51a5d8.00b752"]]},{"id":"c86fe6b7.00c138","type":"debug","z":"2a08c93d.04fd66","name":"","active":true,"console":"false","complete":"false","x":1730,"y":740,"wires":[]},{"id":"404adb96.2e55ac","type":"debug","z":"2a08c93d.04fd66","name":"","active":true,"console":"false","complete":"false","x":1730,"y":700,"wires":[]},{"id":"1e51a5d8.00b752","type":"debug","z":"2a08c93d.04fd66","name":"","active":true,"console":"false","complete":"false","x":1730,"y":780,"wires":[]},{"id":"3747974e.f650b","type":"debug","z":"2a08c93d.04fd66","name":"","active":true,"console":"false","complete":"true","x":890,"y":920,"wires":[]},{"id":"1a22e558.294a03","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"options","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[["6f21dd96.46cb34"]]},{"id":"851101d6.d999e8","type":"function","z":"2a08c93d.04fd66","name":"Create download links","func":"var newarray = [];\nmsg.payload.forEach(function(element){\n    newarray.push(element.slice(35,-1));\n});\nmsg.payload = newarray.slice(0,-1);\nmsg.folders = msg.payload.length;\nreturn [msg];","outputs":1,"noerr":0,"x":580,"y":780,"wires":[["3747974e.f650b"]]},{"id":"98a5f2eb.302e","type":"ui_group","z":"","name":"Actions","tab":"1c7c948e.b3a4d3","order":3,"disp":true,"width":"6"},{"id":"cddfaf82.bc3608","type":"ui_group","z":"","name":"Video","tab":"1c7c948e.b3a4d3","order":4,"disp":true,"width":"6"},{"id":"63362f38.192b2","type":"ui_group","z":"","name":"Settings","tab":"1c7c948e.b3a4d3","order":2,"disp":true,"width":"6"},{"id":"1c7c948e.b3a4d3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]