camera/manage
[{"id":"85c8f5f2.05069","type":"inject","z":"2a08c93d.04fd66","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":110,"y":220,"wires":[["239dc131.d36c36"]]},{"id":"e5e4cccc.a62608","type":"comment","z":"2a08c93d.04fd66","name":"Manage Camera","info":"This flow initially disables the \"Camera warm\" slider, preventing users from changing it.\n\nIt then has the following actions:\n\n- A 2 second repeating injector that checks to see if the camera is warm, we've asked to take pictures and there's enough disk space before taking a single shot.\n- A button to warm up the camera (start raspistill)\n- A button to shut down the camera (stop raspistill).\n\nUser controls to start/stop capture are in the control flow.\n\nThe link node at the end flows to a dashboard text node in the control flow.","x":114,"y":49,"wires":[]},{"id":"239dc131.d36c36","type":"switch","z":"2a08c93d.04fd66","name":"global.takepics true?","property":"takepics","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":300,"y":220,"wires":[["ace84a00.b7ca08"]]},{"id":"51d476a8.ea35f","type":"switch","z":"2a08c93d.04fd66","name":"Enough space?","property":"freediskspace","propertyType":"global","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":740,"y":220,"wires":[["15ae6aca.146115"],["ccaeb16.dd2945"]]},{"id":"ccaeb16.dd2945","type":"change","z":"2a08c93d.04fd66","name":"Disk full, so report and stop shooting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stopped: low space","tot":"str"},{"t":"set","p":"takepics","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":220,"wires":[["304a76fd.1b0052"]]},{"id":"304a76fd.1b0052","type":"link out","z":"2a08c93d.04fd66","name":"linkTimeLapseState","links":["2a8b4e36.021012"],"x":1755,"y":200,"wires":[]},{"id":"5ed0cc12.6541e4","type":"change","z":"2a08c93d.04fd66","name":"Raspistill stopped, so report and stop shooting","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stopped: process ended","tot":"str"},{"t":"set","p":"takepics","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":180,"wires":[["304a76fd.1b0052"]]},{"id":"ff95a25f.14d2","type":"daemon","z":"2a08c93d.04fd66","command":"raspistill","args":"-vf -hf -rot 90 -w 1920 -h 1080 -n -t 172800000 -tl 2000 -s -o /home/pi/.node-red/static/raspicam/capture/%08d.jpg","cr":false,"redo":false,"op":"string","name":"","x":1280,"y":180,"wires":[[],[],["5ed0cc12.6541e4"]]},{"id":"15ae6aca.146115","type":"change","z":"2a08c93d.04fd66","name":"Shoot one pic","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGUSR1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[["ff95a25f.14d2"]]},{"id":"87242aa6.73e5c","type":"change","z":"2a08c93d.04fd66","name":"Start raspistill","rules":[{"t":"set","p":"start","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"camerawarm","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[["ff95a25f.14d2","3ea277da.be3ba"]]},{"id":"27c352f7.628b4e","type":"change","z":"2a08c93d.04fd66","name":"Shutdown raspistill","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGUSR2","tot":"str"},{"t":"set","p":"camerawarm","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":80,"wires":[["ff95a25f.14d2","be5aee24.eee898"]]},{"id":"44125343.e514f4","type":"inject","z":"2a08c93d.04fd66","name":"This fires once at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":470,"y":40,"wires":[["376720a7.7a65e"]]},{"id":"376720a7.7a65e","type":"change","z":"2a08c93d.04fd66","name":"Disable the \"Camera Warm\" slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":40,"wires":[["58844067.4911e8"]]},{"id":"58844067.4911e8","type":"ui_switch","z":"2a08c93d.04fd66","name":"","label":"Camera Warm","group":"63362f38.192b2","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"red","x":1620,"y":100,"wires":[[]]},{"id":"3ea277da.be3ba","type":"change","z":"2a08c93d.04fd66","name":"Set True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":120,"wires":[["58844067.4911e8"]]},{"id":"be5aee24.eee898","type":"change","z":"2a08c93d.04fd66","name":"Camera Warm slider to false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":80,"wires":[["58844067.4911e8"]]},{"id":"b79e5a51.2abb68","type":"ui_button","z":"2a08c93d.04fd66","name":"","group":"98a5f2eb.302e","order":3,"width":0,"height":0,"passthru":false,"label":"Warm-up Camera","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":120,"wires":[["87242aa6.73e5c"]]},{"id":"ace84a00.b7ca08","type":"switch","z":"2a08c93d.04fd66","name":"global.camerawarm true?","property":"camerawarm","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":530,"y":220,"wires":[["51d476a8.ea35f"]]},{"id":"150f263c.4b3532","type":"ui_button","z":"2a08c93d.04fd66","name":"","group":"98a5f2eb.302e","order":4,"width":0,"height":0,"passthru":false,"label":"Shutdown Camera","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":80,"wires":[["27c352f7.628b4e"]]},{"id":"63362f38.192b2","type":"ui_group","z":"","name":"Settings","tab":"1c7c948e.b3a4d3","order":2,"disp":true,"width":"6"},{"id":"98a5f2eb.302e","type":"ui_group","z":"","name":"Actions","tab":"1c7c948e.b3a4d3","order":3,"disp":true,"width":"6"},{"id":"1c7c948e.b3a4d3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]