camera/singlepic
[{"id":"e702c2ac.2a6c08","type":"inject","z":"2a08c93d.04fd66","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":1160,"wires":[["6822fda1.c07ca4"]]},{"id":"6822fda1.c07ca4","type":"ui_button","z":"2a08c93d.04fd66","name":"","group":"98a5f2eb.302e","order":2,"width":0,"height":0,"passthru":true,"label":"Take One Picture","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":270,"y":1160,"wires":[["a0cec205.ed3e1"]]},{"id":"189ebebb.8949b9","type":"exec","z":"2a08c93d.04fd66","command":"raspistill -vf -hf -rot 90 -w 1920 -h 1080 -t 1000 -n -o -","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Take Pic","x":620,"y":1160,"wires":[["d0f50a51.65c0e"],[],["937e42aa.462188"]]},{"id":"9910f189.908368","type":"file","z":"2a08c93d.04fd66","name":"Save pic","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":940,"y":1100,"wires":[]},{"id":"a0cec205.ed3e1","type":"change","z":"2a08c93d.04fd66","name":"Keep timestamp","rules":[{"t":"move","p":"payload","pt":"msg","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1160,"wires":[["189ebebb.8949b9"]]},{"id":"fd3e864b.c7b62","type":"template","z":"2a08c93d.04fd66","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Saved {{picurl}}","x":930,"y":1160,"wires":[["c96e23c9.6677c8"]]},{"id":"a1278855.d3a46","type":"ui_template","z":"2a08c93d.04fd66","group":"d023f828.1cd318","name":"","order":0,"width":"12","height":"7","format":"<div><img ng-src={{msg.picurl}} style=\"max-width:100%; height:auto;\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":940,"y":1060,"wires":[[]]},{"id":"d0f50a51.65c0e","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/home/pi/.node-red/static/raspicam/single_\" & msg.timestamp & \".jpg\"","tot":"jsonata"},{"t":"set","p":"picurl","pt":"msg","to":"\"http://campi0w:1880/raspicam/single_\" & msg.timestamp & \".jpg\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1100,"wires":[["9910f189.908368","fd3e864b.c7b62","a1278855.d3a46"]]},{"id":"9f9f1552.ca465","type":"comment","z":"2a08c93d.04fd66","name":"Take single pic","info":"Does what it says on the tin. Takes a single pic, then reports via the link to the \"State\" textbox in the control flow.","x":120,"y":1080,"wires":[]},{"id":"937e42aa.462188","type":"change","z":"2a08c93d.04fd66","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Stopped: single pic failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1200,"wires":[["c96e23c9.6677c8"]]},{"id":"c96e23c9.6677c8","type":"link out","z":"2a08c93d.04fd66","name":"linkSinglePicState","links":["2a8b4e36.021012"],"x":1035,"y":1180,"wires":[]},{"id":"98a5f2eb.302e","type":"ui_group","z":"","name":"Actions","tab":"1c7c948e.b3a4d3","order":3,"disp":true,"width":"6"},{"id":"d023f828.1cd318","type":"ui_group","z":"","name":"Single shot","tab":"9948a813.117f48","order":4,"disp":true,"width":"12"},{"id":"1c7c948e.b3a4d3","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9948a813.117f48","type":"ui_tab","z":"","name":"Images","icon":"dashboard","order":2}]